*{
    margin: 0;
    padding: 0;
    background-color: #DBE2EF;
}
.Login-container{
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: space-between;
    align-items:center ; 
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.right-container{    width: 45vw;
    height: 100%;
    background-image: url("./images/logo-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.left-container{
    width: 55vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box-container{
    width: 27vw;
    height: 65vh;
    /* background-color: rgb(234, 239, 241); */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.sign-up{
    color: #3F72AF;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-bottom: 50px;
}

.tag-collection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}




.input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    font-family: "Bree Serif", serif;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }



@media (max-width: 1200px) {
    .Login-container {
        flex-direction: column;
    }

    .right-container {
        width: 100vw;
        height: 45vh;
        order: -1; 
    }

    .left-container {
        width: 100vw;
        height: 50vh;
    }

    .box-container {
        width: 50vw;
        height: 50vh;
    }
}

@media (max-width: 1024px) {
    .right-container {
        height: 45vh; 
    }

    .box-container {
        width: 70vw; 
        height: 45vh;
    }
}

@media (max-width: 768px) {
    .right-container {
        height: 40vh; 
    }

    .left-container {
        height: 60vh; 
    }

    .box-container {
        width: 80vw;
        height: 40vh;
    }
}

@media (max-width: 576px) {
    .right-container {
        height: 40vh; 
    }

    .box-container {
        width: 80vw;
        height: 40vh;
    }
}

@media (max-width: 480px) {
    .right-container {
        height: 40vh; 
    }

    .box-container {
        width: 90vw;
        height: 45vh;
    }

    .box-container {
        border-radius: 10px;
    }
}

@media (max-width: 360px) {
    .right-container {
        height: 40vh; 
    }

    .box-container {
        width: 95vw;
        height: 50vh; 
    }

}








